[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
alembic = "*"
sqlalchemy = "*"
pydantic-settings = "*"
asyncpg = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
